<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <title>Install Map</title>
  </head>
  <body>
    <div style="display:block;z-index:1;position:absolute;width:91px;height;10px;background-color:white;margin-top:4%;margin-left:10px;border-style:solid;border-width:1px">
     <p style="font-family:Trebuchet MS;font-size:10pt;text-align:center">&nbsp;Total Installs: </br><b>{{ installs_total }}</b></p> 
    </div>
  
    <div id="map" style="z-index:0"></div>
    <script type="text/javascript">

    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: 40.86 , lng: -72.95},
     zoom: 10
   });


    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $.getJSON($SCRIPT_ROOT + '/data', function(data) {

      for (i = 0; i < data.length; i++) {

    map.data.addGeoJson(data[i]);

  };

    });

    infoWindow = new google.maps.InfoWindow({
          content: ""
        });

    map.data.addListener('click', function(event) {
        //show an infowindow on click   
        infoWindow.setContent('<div style="height:65px;width:190px">' + "<b>" + event.feature.getProperty('name') + "</b>" + "</br></br>" + event.feature.getProperty("street_address") + "</br>" + event.feature.getProperty("city") + ", NY " + event.feature.getProperty("zip") + '</div>');
        var anchor = new google.maps.MVCObject();
        anchor.set("position",event.latLng);
        infoWindow.open(map,anchor);
      });

  map.data.setStyle({
   icon: {
    url: "http://maps.google.com/mapfiles/ms/icons/blue.png"
  }
    
  });

}

    </script>
   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6PSbZ8aTDUEgBXUL7fkxtqO6c9cR_tHg&callback=initMap">
    </script>
  </body>
</html>
